Vamos a crear una tabla (en mi caso CODER)

Luego vamos aÂ  jugar con los datos creando una tabla y columnas con los datos que quiero aloja.

In [ ]:
use CODER
create SCHEMA sales;
create table Clientes
(
    idcliente VARCHAR(200) PRIMARY KEY,
    nombre VARCHAR(200),
    apellido VARCHAR(200),
    dni INT
);

Ahora vamos a alterar las columnas

In [ ]:
alter table dbo.Clientes
add telefono varchar(200);

alter table dbo.Clientes
alter COLUMN dni VARCHAR(200);

Para finalizar... DROPEAMOS!

In [ ]:
DROP table dbo.Clientes;