Primero seleccionamos la base (En mi caso Coder)

In [4]:
USE CODER;

In [5]:
insert into dbo.Clientes (idcliente, nombre, apellido, dni)
VALUES ('2','Agustina','ddd','55555'),
('3','Jose','Perez','666666');

ahora vemos los resultados (?)

In [6]:
select * from dbo.Clientes;

idcliente,nombre,apellido,dni,telefono
2,Agustina,ddd,55555,NULL
3,Jose,Perez,666666,NULL

Ahora Hacemos Cambios en los datos de las columnas

In [7]:
UPDATE dbo.clientes SET DNI='7777777' WHERE idcliente ='6';

UPDATE dbo.clientes SET DNI='7777777' WHERE apellido ='ddd';

Revisamos los resultados

In [8]:
select * from dbo.Clientes;

idcliente,nombre,apellido,dni,telefono
2,Agustina,ddd,7777777,NULL
3,Jose,Perez,666666,NULL

Probamos con los diferentes tipos de eliminación

In [ ]:
delete from dbo.Clientes WHERE idcliente'6';

In [10]:
delete from dbo.Clientes WHERE idcliente in ('4','5');

In [11]:
delete from dbo.Clientes WHERE nombre='Jose';

Y vemos que nos queda

In [12]:
select * from dbo.Clientes;

idcliente,nombre,apellido,dni,telefono
2,Agustina,ddd,7777777,NULL